*.egg-info
.coverage
.DS_Store
.env
.pytest_cache
.pytype
.ruff_cache
.venv
DEVELOPMENT.md
__pycache__
.adk
dist
google-ads.yaml
.rumdl_cache
adspace_agent_tmp*
requirements.txt
sessions.db
skills/**
